<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aibb.android.base.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.aibb.android.base.example.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.activity.MvpMainActivity" />
        <activity android:name=".network.activity.NetworkServiceTestActivity" />
        <activity android:name=".lazy.activity.MvpViewPagerActivity" />
        <activity android:name=".hilt.activity.HiltTestActivity" />
        <activity android:name=".datastore.activity.DataStoreTestActivity" />
        <activity android:name=".lifecycle.activity.LifecycleTestActivity" />
        <activity android:name=".lifecycle.activity.LifecycleTestActivity1" />
        <activity android:name=".livedata.activity.LiveDataTestActivity" />
        <activity android:name=".viewmodel.activity.ViewModelTestActivity" />
        <activity android:name=".room.activity.RoomTestActivity" />
        <activity android:name=".setup.activity.SetupTestActivity" />
        <activity android:name=".workmanager.activity.WorkManagerTestActivity" />
        <activity android:name=".whatif.activity.WhatIfTestActivity" />
        <activity android:name=".permission.activity.PermissionRequestTestActivity" />
        <activity android:name=".h5.activity.H5LoadingTestActivity" />
        <activity android:name=".h5.activity.H5CommonLoadActivity" />
        <activity
            android:name=".h5.activity.H5TencentX5LoadActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".compose.activity.ComposeTestActivity" />
        <activity android:name=".boostmultidex.activity.BoostMultiDexTestActivity" />
        <activity android:name=".fragmentcontainerview.activity.FragmentContainerViewTestActivity" />
        <activity android:name=".dokit.activity.DidiDoKitTestActivity" />
        <activity android:name=".androidgodeye.activity.AndroidGodEyeTestActivity" />
        <activity android:name=".lens.activity.IQiyiLensTestActivity" />
        <activity android:name=".matrix.activity.TencentMatrixTestActivity" />
        <activity android:name=".qmui.activity.QMUIAndroidTestActivity" />
        <activity android:name=".booster.activity.DidiBoosterTestActivity" />
        <activity android:name=".litho.activity.LithoTestActivity" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.aibb.android.base.example.setup.Initializer.RoomInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>