<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aibb.android.base.example">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.aibb.android.base.example.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.activity.MvpMainActivity" />
        <activity android:name=".network.activity.NetworkServiceTestActivity" />
        <activity android:name=".lazy.activity.MvpViewPagerActivity" />
        <activity android:name=".hilt.activity.HiltTestActivity" />
        <activity android:name=".datastore.activity.DataStoreTestActivity" />
        <activity android:name=".lifecycle.activity.LifecycleTestActivity" />
        <activity android:name=".lifecycle.activity.LifecycleTestActivity1" />
        <activity android:name=".livedata.activity.LiveDataTestActivity" />
    </application>

</manifest>